.github-link:hover {
    color: #24292E;
}

.twitter-link:hover {
    color: #1A91DA;
}

.mail-link:hover {
    color: #02C54C;
}

@media screen and (max-width: 768px) {
    ul {
        width: 100% !important;
    }
}